html, body {
    padding: 0;
    margin: 0;
    background-color: brown;
}

#meal-types .meal {
    float: left;
    width: 33.33%;
}

#meal-types h3 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    margin-bottom: 0%;
}

#meal-types .meal-photo {
    border-radius: 25px;
    height: 250px;
    width: 100%;
}